<%= provide(:title, "About Us") %>
<div class="jumbotron">
  <div class="container">
    <p>
    	Our mission is to teach students how to code by offering them a friendy collaborative environment that focuses on practical application and creativity. Drop by this week at your campus!
    </p>
  </div>
</div>

<table class="table" style="font-size:17px">  
	<thead>  
        <tr>  
        	<th>University</th>  
            <th>Location</th>   
            <th>Time</th>   
        </tr>  
    </thead>  
    <tbody>  
        <tr>  
            <td>Western University</td>  
            <td>Social Science 1032 </td>  
            <td>Fridays 7-10PM</td>   
        </tr>  
        <tr>  
            <td>University Of Toronto</td>  
            <td>Science Center 1432</td>  
            <td>Thursday 5-7PM</td>  
        </tr>  
        <tr>  
            <td>University of Waterloo</td>  
            <td>Chemical Engineering Building 1432</td>  
            <td>Wednesday 4-5PM</td>  
        </tr>  
    </tbody>  
</table> 
<div class="column">
  <div class="col-xs-6">
    <div class="thumbnail">
      <img src="http://sweetydesign.com/media/k2/galleries/google-office-freshome02.jpg" alt="My Image" />
      <div class="caption">
        <h3>Space</h3>
        <p style="font-size:17px">At Campusdevs, we believe that the best way to learn is through collaboration and teamwork. With peers and mentors, we are here to help you and learn from eachother.</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="thumbnail">
      <img src="http://sweetydesign.com/media/k2/galleries/google-office-freshome02.jpg" alt="My Image" />
      <div class="caption">
        <h3>Peers</h3>
        <p style="font-size:17px">At Campusdevs, we believe that the best way to learn is through collaboration and teamwork. With peers and mentors, we are here to help you and learn from eachother.</p>
      </div>
    </div>
  </div>
</div>


