<%= provide(:title, "About Us") %>
<div class="jumbotron">
  <div class="container">
    <p>
    	Our mission is to teach students how to code by offering them a collaborative environment that focuses on practical application and creativity. Drop by this week at your campus!
    </p>
  </div>
</div>

<div class="thumbnail">
  <table class="table" style="font-size:16px">  
  	<thead>  
          <tr>  
          	<th>University</th>  
              <th>Location</th>   
              <th>Time</th>   
          </tr>  
      </thead>  
      <tbody>  
          <tr>  
              <td>Western University</td>  
              <td>Outside Richard Ivey Building (Western & Sarnia)</td>  
              <td>6PM-9PM (starting Sep. 25)</td>   
          </tr>  
          <tr>  
              <td>University Of Toronto</td>  
              <td>TBA</td>  
              <td>TBA</td>  
          </tr>  
      </tbody>  
  </table> 
</div>

<div class="column">
  <div class="col-xs-6">
    <div class="thumbnail">
      <img src="http://i942.photobucket.com/albums/ad266/marlonmisra/peers_zpsbe932c09.jpg" alt="My Image">
    </div>
  </div>
  <div class="col-xs-6">
    <div class="thumbnail">
      <h3>Who are we?</h3>
      <p style="font-size:16px">We are a group of students who are passionate about the power of programming and believe that all students can gain an advantage by learning to code. Our team is growing quickly and consists of undergradudates and graduates from many different faculties.</p>
      <h3>What do we do?</h3>
      <p style="font-size:16px">We provide students with access to space, peers, mentors and resources to help them succeed in learning to program. While much can be learned at university, our focus here is to learn through collaboration, failure and feedback. While working hard is very important, it is simply not true that coding must be difficult.</p>
      <h3>Why should you join?</h3>
      <p style="font-size:16px">Programming skills are becoming ever more important, quickly turning into the core competency for 21st century workers. You should join because a technical background will prove to be extremely valuable for yourself and your future endeavors.</p>
    </div>
  </div>
</div>


