<%= provide(:title, "Careers") %>
<div class="jumbotron">
  <div class="container">
    <p>
      "You have to be constantly reinventing yourself and investing in the future."
      <br>- Reid Hoffman
    </p>
  </div>
</div>

<h3>Coming soon!</h3>