<%= provide(:title, "Coding") %>
<div class="jumbotron">
  <div class="container">
    <p>
      "I think everyone should learn how to program a computer, because it teaches you how to think."
      <br>- Steve Jobs
    </p>
  </div>
</div>

<h3>Coming soon!</h3>