<%= provide(:title, "Coding") %>
<div class="jumbotron">
  <div class="container">
    <p>
      "I think everyone should learn how to program a computer, because it teaches you how to think."
      <br>- Steve Jobs
    </p>
  </div>
</div>

<table class="standard" style="font-size:16px">  
  <thead>  
    <tr>  
      <th style="width:20%">Resource</th>   
      <th style="width:80%">Description</th> 
    </tr>  
  </thead>  
  <tbody>  
    <tr>  
        <td><a href="http://www.codecademy.com/">Codecademy</a></td>  
        <td>Codecademy is a great place to start if you’ve never programmed before. We highly recommend starting with the web development track (HTML, CSS, Javascript), Ruby, or Python.</td>   
    </tr>  
    <tr>  
        <td><a href="http://stackoverflow.com/">Stack Overflow</a></td>  
        <td>Stack Overflow is one of the best resources for anyone who's interested in programming. Regardless of you experience, here you can ask questions and get answers from a very smart community of developers.</td>     
    </tr>            
    <tr>  
        <td><a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book">Rails Tutorial</a></td>  
        <td>This tutorial is one of the best if you're interested in web development with Rails. Here, you'll learn how to build a simplified version of Twitter in a very engaging, hands-on way. We recommend you understand the basics of web development and Ruby first.</td>     
    </tr>
    <tr>  
        <td><a href="https://www.udacity.com/">Udacity</a></td>  
        <td>Udacity is a great way to learn programming the way you would in class, except more efficiently. We highly recommend the 'Intro To Computer Science' course where you will learn how to build a web crawler in Python. </td>     
    </tr> 
    <tr>  
        <td><a href="http://www.amazon.com/Introduction-Algorithms-Second-Edition-Thomas/dp/0262032937">Introduction To Algorithms</a></td>  
        <td>This is the standard textbook for a first algorithms course. It's more difficult and specifically meant for those who want to gain a grasp on the mathematics behind algorithms.</td>     
    </tr>                  
  </tbody>  
</table> 


