<%= provide(:title, "Coding") %>
<div class="jumbotron">
  <div class="container">
    <p>
      "I think everyone should learn how to program a computer, because it teaches you how to think."
      <br>- Steve Jobs
    </p>
  </div>
</div>

<table class="table" style="font-size:16px">  
  	<thead>  
          <tr>  
          	  <th>Resource</th>  
              <th>Description</th>   
          </tr>  
      </thead>  
      <tbody>  
          <tr>  
              <td><a href="http://www.codecademy.com/">Codecademy</a></td>  
              <td>Codecademy is a great place to start if you’re looking to learn the fundamentals of programming and development.  It serves as a great introductory resource to newer languages including Javascript, Python, Ruby and more!</td>   
          </tr>  
          <tr>  
              <td><a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book">Rails Tutorial</a></td>  
              <td>Michael Hartl’s tutorial teaches you everything you need to know to get started with Ruby on Rails. From modest beginnings, to building large scalable applications. You’ll be building Twitter in no time.</td>     
          </tr>  
      </tbody>  
  </table> 