<%= provide(:title, "Contact Us") %>
<div class="jumbotron">
  <div class="container">
    <p>
      Do you have any feedback for us? Feel free to shoot us a message or give us a call. If you're interested in starting Campusdevs on your campus, we'd love to know.
    </p>
  </div>
</div>

<table class="standard" style="font-size:16px">  
  <tr>  
    <td><b>Email</b></td>  
    <td>info@campusdevs.com</td>
  </tr>  
  <tr>  
    <td><b>Phone</b></td>  
    <td>519-871-9307</td>   
  </tr>  
  <tr>  
    <td><b>Facebook</b></td>  
    <td><a href="https://www.facebook.com/campusdevs">Campusdevs</a></td>   
  </tr>
  <tr>  
    <td><b>Twitter</b</td>  
    <td><a href="https://twitter.com/campusdevs">@Campusdevs</a></td>   
  </tr>    
</table>  
