<%= provide(:title, "Contact Us") %>
<div class="jumbotron">
  <div class="container">
    <p>
      Do you have any feedback for us? Feel free to shoot us a message or give us a call. If you're interested in starting Campusdevs on your campus, we'd love to know.
    </p>
  </div>
</div>
<div class="thumbnail">
  <table class="table" style="font-size:16px">  
      <thead>  
        <tr>  
          <th>Method</th>  
          <th>Details</th>     
        </tr>  
      </thead>  
      <tbody>  
        <tr>  
          <td>Email</td>  
          <td>Campusdevs@gmail.com</td>    
        </tr>  
        <tr>  
          <td>Phone</td>  
          <td>519-871-9307</td>   
        </tr>  
        <tr>  
          <td>Facebook</td>  
          <td>Message to Facebook.com/Campusdevs</td>   
        </tr>  
      </tbody>  
  </table>  
</div>
