<%= provide(:title, "Entrepreneurship") %>
<div class="jumbotron">
  <div class="container">
    <p>
      “Failure is an option here. If things are not failing, you are not innovating enough.”
      <br>- Elon Musk
    </p>
  </div>
</div>