<%= provide(:title, "Home") %>
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Campusdevs!</h1>
    <p>Learning how to code shouldn't be a task reserved for computer geniuses. It's actually a really fun experience, and anyone can do it. Join our club at WesternU or UofT! </p>
    <p><%= link_to "Sign Up", register_path, class: "btn btn-primary btn-lg" %></p>
  </div>
</div> <div class="column">
  <div class="col-xs-4">
    <div class="thumbnail">
      <img src="http://i942.photobucket.com/albums/ad266/marlonmisra/collaboration_zps051fbef0.jpg" alt="My Image" />
      <div class="caption">
        <h3>Collaboration</h3>
        <p style="font-size:16px">We believe that the best way to learn is through collaboration, failure, and feedback. With peers, mentors, and resources around you we are here to help you and learn from one another.</p>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="thumbnail">
      <img src="http://i942.photobucket.com/albums/ad266/marlonmisra/entrepreneurship_zps4cf04a34.jpg" alt="My Image" />
      <div class="caption">
        <h3>Creativity</h3>
        <p style="font-size:16px">Are you inspired by Steve Jobs, Bill Gates, or Elon Musk?  Many of the entrepreneurs you know started their journeys by first writing a piece of code. And then doing it better every time.</p>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="thumbnail">
      <img src="http://i942.photobucket.com/albums/ad266/marlonmisra/proficiency_zps28f0a3b1.jpg" alt="My Image" />
      <div class="caption">
        <h3>Competency</h3>
        <p style="font-size:16px">Do you see yourself working at Google, Facebook, or Twitter? Technical knowledge is becoming incredibly important. Become an expert and you will have companies fighting over you.</p>
      </div>
    </div>
  </div>
</div>